<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdu.gdusocketdemo" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitle" >
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <activity android:name=".WifiConnectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".APConnectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".APTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".WifiMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".usb.USBActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PreViewActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>